---
BasedOnStyle: LLVM
Language: Cpp
Standard: c++20
IndentWidth: 4
ColumnLimit: 100
PointerAlignment: Left
DerivePointerAlignment: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortLambdasOnASingleLine: All
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"'
    Priority: 1
  - Regex: '^<(td|CLI|nlohmann|fmt|toml\+\+|catch2)/'
    Priority: 3
  - Regex: '.*'
    Priority: 2
InsertNewlineAtEOF: true
